/*
/*/*

*.log
!/.gitignore
!/.Rbuildignore

!/data-raw/
/data-raw/*
!/data-raw/devstuffs.R

!/DESCRIPTION
!/NAMESPACE
!/LICENSE.md
!/README.md

!/cran-comments.md
!/man/
!/R/
!/vignettes/
!/tests/
/tests/*
!/tests/testthat/
/tests/testthat/*
!/tests/testthat/test-*.R
!/tests/testthat.R
/tests/testthat/testdata/

/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode

!/.lintr
!/.github/
!/tic.R

/inst/doc
