/*
/*/*

*.log
!.gitignore
!/.Rbuildignore

!*.R
!*.Rd
!*.yml
!*.Rmd

!/data-raw/

!/DESCRIPTION
!/NAMESPACE
!/LICENSE.md
!/README.md

!/cran-comments.md
!/man/
!/R/
!/vignettes/
!/tests/
/tests/*
!/tests/testthat/
/tests/testthat/*
!/tests/testthat/test-*.R
!/tests/testthat.R
/tests/testthat/testdata/

/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode

!/.lintr
!/.github/
/.github/*
!/.github/workflows
!/tic.R

/inst/doc
.Rproj.user
!NEWS.md
!README.md
/doc/
/Meta/
docs
Meta
inst/doc
